.wrapper__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.full__price{
    font-weight: bold;
}
.full__price__before {
    text-decoration: line-through;
    color: #d1d1e0;
}
.sale__price{
    font-weight: bold;
     color: #33cc33;
     text-shadow: 1px 1px 1px  1px #000;
}
